@{
    ViewData["Title"] = "Personal";
}



<div class="text-left">
  
     <h4>Presentacion Personal: </h4>

     <div class="text-center">
         <h2>David Isaac Fernandez Chicas</h2>
     </div>

     <h4>Fecha de Nacimiento:</h4>

     <div class="text-center">
        <h2>5 de Diciembre de 2002</h2>
     </div>

      <h4>Contacto</h4>  

     <div class="text-center">
        <h2>usuaricomun97@gmail.com</h2>
     </div>

     <h4>Formacion academica     </h4>

     <div class="text-center">
        <h2>Bachillerato</h2>
     </div>

  

    </div>

    
</div>


<div class="text-center">
   <img src="../../img/01.jpeg" class="img-thumbnail" alt="Mi imagen">
   
</div>




 



